# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

*.log
*.gz

# Executables
/valetd

# Changelog configuration files and templates
.chglog